body {
  margin: 0;
  font-family: "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cfp_description{
  font-family: "Times New Roman", serif;
  font-size: 24px;
  width: 100%;
  max-width: 900px;
  padding-inline: 0;
  text-align: justify;
  line-height: 1.35;
}

@media (max-width: 600px) {
  .cfp_description {
    padding-inline: 24px;
    font-size: 16px;
  }
}
