body {
  margin: 0;
  font-family: "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cfp_description{
  font-family: "Times New Roman", serif;
  font-size: 23px;
  padding-inline: 100px;
  text-align: justify;
}
